
  .swiper {
    width: 400px;
    height: 590px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .swiper-slide {
    position: relative;
    background: rgba(0, 0, 0, 0.322);
    box-shadow: 0 15px 35px #af06f1;
    border-top: 3px solid #af06f1;
    border-bottom: 3px solid #af06f1;
    border-radius: 30px;
    color: #fff;
    z-index: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: 0.5s;
    backdrop-filter: blur(10px);
  }

  .swiper-wrapper .swiper-slide h4, .swiper-wrapper .swiper-slide a{
      text-align: center;
      font-size: 15px;
      margin-top: 20px;
      z-index: 100;
      color: #fff;
      text-decoration: none;
  }

  .swiper-wrapper .swiper-slide p {
      font-size: 12px;
      text-align: justify;
      margin: 10px 20px;
      z-index: 100;
  }

  .swiper-wrapper .swiper-slide img {
      width: 300px;
      height: 200px;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-left: 13%;
      margin-top: 10px;
  }

  span {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-left: 5%;
  }
